<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script
      src="<%= widgetScriptsUrl %>/payment.js"
      data-identityuri="<%= identityUrl %>"
      data-apigatewayuri="<%= apiGatewayUrl %>"
    ></script>
  </head>
  <body>
      <div id="app"></div>

      <script type="text/javascript">
        const elem = document.getElementById("app")
        const params = new URLSearchParams(window.location.search)
        const code = params.get("code")
        const state = params.get("state")

        if (code)
          window.moneyhub.callback({elem, code, state})
        else
          window.moneyhub.init({
            elem,
            clientId: "<%= clientId %>",
            clientSecret: "<%= clientSecret %>",
            payeeId: "<%= payeeId %>",
            payeeRef: "PAYEE-REF",
            payerRef: "PAYER-REF",
            startText: "HELLO :)",
            amount: 1000,
            type: "test",
            redirectUri: "<%= redirectUri %>",
            openUri: (uri) => {
              console.log("OPENING_URI", uri)
              window.location = uri
            }
          })
      </script>
  </body>
</html>